# Package Files #
*.class
.settings
.project
.classpath
test-result
target/
precompiled
tmp
eclipse/classes
bin
.DS_Store
# Intellij project files
*.iml
*.ipr
*.iws
*.ids
.idea

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

out
lib-cov

pids
logs
results

node_modules
npm-debug.log
