!!!5
html
  head
    title video-paste api
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='robots', content='all,index,follow')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    - if (config.app.enable_google_analytics)
      script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32533263-1']);
        _gaq.push(['_setDomainName', 'dotcloud.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    != body

