style
  body {
    margin: 0 auto;
  }

  .content {
    width: 1180px;
    margin: 0 auto;
  }

  .info {
    padding: 10px;
    border: 1px solid #CCC;
    text-align: center;
   }
     .method {
    clear: both;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    height: 150px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .method_url, .method_type, .method_status, .method_desc, .method_sample_response, .err_error, .err_code {
    float: left;
    padding: 2px 10px;
  }
  .method_error_codes {
    float: right;
    padding: 2px 10px;
  }
  .method_url {
    width: 390px;
  }
  .method_desc {
    width: 410px;
  }
  .method_sample_response {
    padding: 10px;
    width: 800px;
    height: 100px;
    clear: both;
    background-color: white;
  }

  .error_response {
    clear: both;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
  }

  .err {
    clear: both;
    border: 1px solid #CCC;
  }

  .err_error {
    width: 410px;
  }

  err_code {
    width: 410px;
  }

div.content
  h1.info Available api methods

  div.method
    div.method_url /api/getSession/:apiKey
    div.method_type GET
    div.method_desc get session for unauthorized user
    div.method_sample_response {sess: string, userId: int}
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
  div.method
    div.method_url /api/loginByFb/:apiKey/:id/:name/:fist_name/:last_name/:locale
    div.method_type GET
    div.method_desc get session for authorized user by facebook
    div.method_sample_response {sess: string, userId: int}
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_LOGIN_FAILED
  div.method
    div.method_url /api/loginByGoogle/:apiKey/:id/:name/:given_name/:family_name
    div.method_type GET
    div.method_desc get session for authorized user by google
    div.method_sample_response {sess: string, userId: int}
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_LOGIN_FAILED
  div.method
    div.method_url /api/loginByTwitter/:apiKey/:id/:name
    div.method_type GET
    div.method_desc get session for authorized user by twitter
    div.method_sample_response {sess: string, userId: int}
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_LOGIN_FAILED
  div.method
    div.method_url /api/generateKey
    div.method_type GET
    div.method_desc generate valid key (temp)
    div.method_sample_response {key: string}
    div.method_error_codes
  div.method
    div.method_url /api/postLink/:sessionId/:postId
    div.method_type GET
    div.method_desc get posted link data by postId
    div.method_sample_response { postId: int, categoryId: int, added: int, userId: int, userName: string, url: string, thumbUrl: string, rate: int, views: int }
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_INVALID_SESSION
  div.method
    div.method_url /api/postLink/:sessionId
    div.method_type POST
    div.method_desc create post link (url param from POST BODY)
    div.method_sample_response { postId: int, categoryId: int, added: int, userId: int, userName: string, url: string, thumbUrl: string, rate: int, views: int }
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_INVALID_SESSION
        li ERR_UNAUTHORIZED
  div.method
    div.method_url /api/postViews/:sessionId/:postId
    div.method_type POST
    div.method_desc increse post link views count
    div.method_sample_response { postId: int, views: int }
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_INVALID_SESSION
  div.method
    div.method_url /api/postRate/:sessionId/:postId
    div.method_type POST
    div.method_desc rate post link  (rate [-1, 1] param from POST BODY)
    div.method_sample_response { postId: int, rate: int }
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_INVALID_SESSION
        li ERR_UNAUTHORIZED
        li ERR_ALREADY_RATED
  div.method
    div.method_url /api/getTopLinks/:sessionId/:categoryId/:limit/:page
    div.method_type GET
    div.method_desc get top links (only sessionId is required, max limit value: 100)
    div.method_sample_response {count: int, pages: int, currentPage: int, isNextPage: bool, isPrevPage: bool, result: [{ postId: int, categoryId: int, added: int, userId: int, userName: string, url: string, thumbUrl: string, rate: int, views: int}]
    div.method_error_codes
      ul
        li ERR_BAD_REQUEST
        li ERR_API_INTERNAL_ERROR
        li ERR_INVALID_KEY
        li ERR_INVALID_SESSION


  h1.info Error handling

  div.error_response
    div.struct
      pre
        |{
        |  error: string,
        |  data: string,
        |  code: int,
        |  msg: string
        | }

  div.erors
    div.err
      div.err_error error value
      div.err_code code value
    div.err
      div.err_error ERR_BAD_REQUEST
      div.err_code 400
    div.err
      div.err_error ERR_UNAUTHORIZED
      div.err_code 401
    div.err
      div.err_error ERR_NOT_ALLOWED
      div.err_code 403
    div.err
      div.err_error ERR_NOT_FOUND
      div.err_code 404
    div.err
      div.err_error ERR_METHOD_NOT_ALLOWED
      div.err_code 405
    div.err
      div.err_error ERR_API_INTERNAL_ERROR
      div.err_code 50x
    div.err
      div.err_error ERR_EMPTY_RESULTS
      div.err_code 601
    div.err
      div.err_error ERR_INVALID_KEY
      div.err_code 602
    div.err
      div.err_error ERR_INVALID_SESSION
      div.err_code 603
    div.err
      div.err_error ERR_ALREADY_RATED
      div.err_code 604
    div.err
      div.err_error ERR_LOGIN_FAILED
      div.err_code 605