style
  .method {
    clear: both;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    height: 200px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .method_url, .method_type, .method_status, .method_desc, .method_sample_response {
    float: left;
    padding: 2px 10px;
  }
  .method_error_codes {
    float: right;
    padding: 2px 10px;
  }
  .method_url {
    width: 390px;
  }
  .method_desc {
    width: 300px;
  }

div.method
  div.method_url /api/getSession/:apiKey
  div.method_type GET
  div.method_status 200
  div.method_desc get session for unauthorized user
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
div.method
  div.method_url /api/loginByFb/:apiKey/:id/:name/:fist_name/:last_name/:locale
  div.method_type GET
  div.method_status 200
  div.method_desc get session for authorized user by facebook
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
div.method
  div.method_url /api/generateKey
  div.method_type GET
  div.method_status 200
  div.method_desc generate valid key (temp)
  div.method_sample_response {sample json}
  div.method_error_codes
div.method
  div.method_url /api/postLink/:sessionId/:postId
  div.method_type GET
  div.method_status 200
  div.method_desc get posted link data by postId
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
      li ERR_INVALID_SESSION
div.method
  div.method_url /api/postLink/:sessionId
  div.method_type POST
  div.method_status 201
  div.method_desc create post link (url param from POST BODY)
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
      li ERR_INVALID_SESSION
      li ERR_UNAUTHORIZED
div.method
  div.method_url /api/postViews/:sessionId/:postId
  div.method_type POST
  div.method_status 200
  div.method_desc increse post link views count
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
      li ERR_INVALID_SESSION
      li ERR_UNAUTHORIZED
div.method
  div.method_url /api/postRate/:sessionId/:postId
  div.method_type POST
  div.method_status 200
  div.method_desc rate post link  (rate [-1, 1] param from POST BODY)
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
      li ERR_INVALID_SESSION
      li ERR_UNAUTHORIZED
div.method
  div.method_url /api/getTopLinks/:sessionId/:categoryId/:limit/:page
  div.method_type POST
  div.method_status 200
  div.method_desc get top links (only sessionId is required)
  div.method_sample_response {sample json}
  div.method_error_codes
    ul
      li ERR_BAD_REQUEST
      li ERR_API_INTERNAL_ERROR
      li ERR_INVALID_KEY
      li ERR_INVALID_SESSION
      li ERR_UNAUTHORIZED
